.about-container {
  background-color: #8ee4af;
  font-family: "Poppins", sans-serif;
  padding: 70px 0 50px 0;
  height: 100vh;
  z-index: -1;
}
.about-maxwidth {
  max-width: 1300px;
  padding: 0 80px 0 40px;
  margin: auto;
}
.about-container .about-title {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}
.about-container .about-title::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 3px;
  background-color: black;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.about-container .about-title::after {
  content: "My Introduction";
  position: absolute;
  color: #05386b;
  padding: 5px;
  font-size: 20px;
  background-color: black;
  background: #8ee4af;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.about-container .about-content .about-left {
  width: 45%;
}
.about-container .about-content .about-left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}

.about-container .about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-container .about-content .about-right {
  width: 55%;
}
.about-container .about-content .about-right .about-intro {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-container .about-content .about-right .about-intro span {
  color: #05386b;
}
.about-container .about-content .about-right .about-description {
  text-align: justify;
}

.about-container .about-content .about-right a {
  display: inline-block;
  background-color: #05386b;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px 18px;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.about-container .about-content .about-right a:hover {
  background: #011d38;
}

@media (max-width: 1190px) {
  .about-container .about-content .about-left img {
    width: 350px;
    height: 350px;
  }

  .about-container .about-content .about-right .about-intro {
    font-size: 24px;
  }
}

@media (max-width: 950px) {
  .about-container {
    height: auto;
  }
  .about-container .about-content {
    display: block;
  }
  .about-maxwidth {
    padding: 0 50px;
  }

  .about-container .about-content .about-right a {
    font-size: 16px;
    padding: 8px 18px;
    border-radius: 5px;
    margin-top: 20px;
  }

  .about-container .about-content .about-column {
    width: 100%;
  }
  .about-container .about-content .about-left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about-container .about-content .about-right {
    flex: 100%;
  }
}

@media (max-width: 880px) {
}

@media (max-width: 670px) {
}

@media (max-width: 560px) {
  .about-container .about-content .about-right .about-intro {
    font-size: 20px;
  }
  .about-container .about-content .about-left img {
    width: 320px;
    height: 320px;
  }
  .about-container .about-content .about-right a {
    font-size: 18px;
    padding: 6px 20px;
  }
  .about-maxwidth {
    padding: 0 30px;
  }
}

@media (max-width: 475px) {
  .about-container .about-title {
    font-size: 30px;
  }

  .about-container .about-content .about-left img {
    width: 280px;
    height: 280px;
  }
  .about-container .about-content .about-right .about-intro {
    font-size: 18px;
  }
}

@media (max-width: 380px) {
  .about-container .about-content .about-right .about-intro {
    font-size: 16px;
  }
  .about-container .about-title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
  .about-container .about-title::before {
    width: 180px;
    height: 3px;
    background-color: black;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  .about-container .about-title::after {
    content: "My Introduction";
    position: absolute;
    color: #05386b;
    padding: 5px;
    font-size: 15px;
  }
}
