.contact-container {
  background-color: #8ee4af;
  height: 100vh;
  min-height: 500px;
  z-index: -1;
  font-family: "Poppins", sans-serif;
  padding: 70px 0 50px 0;
  overflow: hidden;
}

.contact-maxwidth {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.contact-container .contact-intro {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.contact-container .contact-intro::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 3px;
  background-color: black;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.contact-container .contact-intro::after {
  content: "get in touch";
  position: absolute;
  color: #05386b;
  padding: 5px;
  font-size: 20px;
  background-color: black;
  background: #8ee4af;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.contact-content {
  display: flex;
  justify-content: space-between;
}

.contact-left {
  display: block;
}
.contact-leftTop {
  display: block;
  margin-bottom: 40px;
}

.contact-data {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-icon {
  font-size: 2rem;
  margin-right: 10px;
  color: #05386b;
}

.contact-image {
  position: relative;
  bottom: 0;
  overflow: hidden;
  height: 100vh;
  padding-top: 100px;
  transform: translateY(-25%);
}

@media (max-width: 950px) {
  .contact-maxwidth {
    padding: 0 20px 0 40px;
  }
}

@media (max-width: 670px) {
  .contact-right {
    display: none;
  }
}
