.home-container {
  background-color: #edf5e1;
  height: 100vh;
  position: relative;
  color: black;
  min-height: 500px;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

.home-maxwidth {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-container .home-maxwidth {
  margin: auto 0 auto 40px;
}
.home-image {
  order: 2;
}
.home-image .images {
  position: relative;
  bottom: 0;
  height: 100vh;
  padding-top: 100px;
}

.home-content {
  order: 1;
}

.home-intro {
  font-size: 28px;
}
.home-name {
  font-size: 50px;
  font-weight: 600;
}
.home-job {
  font-size: 40px;
  margin: 6px 0;
}
.home-job span {
  color: #05386b;
}

.home-button {
  display: inline-block;
  background-color: #05386b;
  text-decoration: none;
  color: white;
  font-size: 23px;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.home-button:hover {
  background: #011d38;
}

@media (max-width: 1190px) {
  .home-container .max-width {
    margin: auto 0 auto 10px;
  }
  .home-intro {
    font-size: 24px;
  }
  .home-name {
    font-size: 40px;
    font-weight: 600;
  }
  .home-job {
    font-size: 30px;
    margin: 6px 0;
  }
  .home-button {
    font-size: 20px;
    padding: 10px 30px;
  }
}

@media (max-width: 950px) {
  .home-container {
    color: black;
    display: block;
    width: 100%;
    /* background-image: url("../asset/background-homeCrop.png"); */
    background-position: center top;

    background-size: 20rem auto;
    /* padding-top: 72vh; */
    bottom: 0;
    /* position: absolute; */
  }
  .home-maxwidth {
    max-width: 1300px;
    padding: 0 20px;
  }
  .home-container .home-maxwidth {
    margin: auto 0 auto 0px;
  }
}

@media (max-width: 880px) {
  .home-intro {
    font-size: 18px;
  }
  .home-name {
    font-size: 30px;
    font-weight: 600;
  }
  .home-job {
    font-size: 20px;
    margin: 6px 0;
  }
  .home-button {
    font-size: 15px;
    padding: 8px 25px;
  }
}

@media (max-width: 670px) {
  .home-image {
    display: none;
  }
  .home-maxwidth {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 560px) {
  .home-intro {
    font-size: 20px;
  }
  .home-name {
    font-size: 30px;
    font-weight: 600;
  }
  .home-job {
    font-size: 25px;
    margin: 6px 0;
  }
  .home-button {
    font-size: 15px;
    padding: 7px 25px;
  }
}

@media (max-width: 500px) {
  .home-intro {
    font-size: 15px;
  }
  .home-name {
    font-size: 30px;
    font-weight: 600;
  }
  .home-job {
    font-size: 20px;
    margin: 4px 0;
  }
  .home-button {
    font-size: 15px;
    padding: 10px 25px;
  }
}

@media (max-width: 425px) {
  .home-name {
    font-size: 25px;
    font-weight: 600;
  }
}

@media (max-width: 362px) {
  .home-name {
    font-size: 21px;
    font-weight: 600;
  }
  .home-job {
    font-size: 20px;
    margin: 4px 0;
  }
  .home-button {
    font-size: 15px;
    padding: 10px 25px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
