.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: "Ubuntu", sans-serif;
  padding: 30px 0;
  transition: all 0.3s ease;
  z-index: 5;
}
.navbar-sticky {
  background-color: #5cdb95;
  padding: 15px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
}
.navbar-container .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.navbar-container .navbar-logo a {
  color: black;
  font-size: 35px;
  font-weight: 600;
}
.navbar-container .navbar-logo a span {
  color: #05386b;
  transition: all 0.3s ease;
}
.navbar-sticky .navbar-logo a span {
  color: white;
}

.navbar-container .navbar-menu {
  position: relative;
}
.navbar-container .navbar-menu li {
  list-style: none;
  display: inline-block;
}
.navbar-container .navbar-menu li a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  width: 40px;
  margin-left: 30px;
  transition: color 0.3s ease;
}

.navbar-container .navbar-menu li a:hover {
  color: #05386b;
}
.navbar-sticky .navbar-menu li a {
  color: black;
}

.navbar-sticky .navbar-menu li a:hover {
  color: white;
}

.navbar-menuIcon {
  color: black;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.navbar-menuIcon .navbar-listMenu {
  display: none;
}

@media (max-width: 950px) {
  .max-width {
    padding: 0 40px;
  }
  .navbar-menuIcon {
    display: block;
    z-index: 999;
  }
  .navbar-container .navbar-menu {
    display: none;
  }

  .navbar-menuIcon .on li a {
    color: black;
  }
  .navbar-menuIcon .on li {
    color: black;
    padding: 10px 0;
  }
  .navbar-menuIcon .on li:hover {
    background-color: gray;
  }
  .navbar-menuIcon .on {
    display: block;
    list-style: none;
    position: absolute;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
    right: 40px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}
