.project-container {
  background-color: #edf5e1;
  height: 100vh;
  z-index: -1;
  font-family: "Poppins", sans-serif;
  padding: 70px 0 50px 0;
}

.project-maxwidth {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.project-container .project-intro {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.project-container .project-intro::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 3px;
  background-color: black;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.project-container .project-intro::after {
  content: "most recent work";
  position: absolute;
  color: #05386b;
  padding: 5px;
  font-size: 20px;
  background-color: black;
  background: #edf5e1;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.project-button {
  display: inline-block;
  background-color: #05386b;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px 18px;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.project-button:hover {
  background: #011d38;
}

.project-img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
}

.project-title {
  font-size: 25px;
  margin-bottom: 5px;
}

.project-description {
  /* margin-bottom: 5px; */
  font-size: 15px;
}

.project-data {
  padding: 0px 10px;
}

.swiper {
  width: 400px;
  height: auto;
  z-index: 1;
  /* margin: 0px 400px; */
  border-radius: 0.5rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  padding: 0 0 40px 0;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 650px) {
  .project-maxwidth {
    padding: 0 40px;
  }
}

@media (max-width: 500px) {
  .swiper {
    width: 300px;
  }
  .project-maxwidth {
    padding: 0 20px;
  }
  .project-title {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .project-button {
    font-size: 16px;
    padding: 8px 18px;
    margin-top: 10px;
  }

  .project-description {
    font-size: 15px;
  }

  .project-container .project-intro {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    padding-bottom: 20px;
  }
  .project-container .project-intro::before {
    width: 150px;
    height: 3px;
  }
  .project-container .project-intro::after {
    content: "most recent work";
    padding: 5px;
    font-size: 15px;
  }
}

@media (max-width: 380px) {
  .swiper {
    width: 270px;
  }
  .project-maxwidth {
    padding: 0 10px;
  }
  .project-title {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .project-button {
    font-size: 16px;
    padding: 8px 18px;
    margin-top: 10px;
  }

  .project-description {
    font-size: 15px;
  }
}
