.services-container {
  background-color: #edf5e1;
  height: 100vh;
  z-index: -1;
  font-family: "Poppins", sans-serif;
  padding: 70px 0 50px 0;
}

.services-maxwidth {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.services-container .services-title {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}
.services-container .services-title::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 3px;
  background-color: black;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.services-container .services-title::after {
  content: "what i offer";
  position: absolute;
  color: #05386b;
  padding: 5px;
  font-size: 20px;
  background-color: black;
  background: #edf5e1;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.services-container .services-content .services-box {
  display: flex;
  justify-content: center;
  text-align: center;
}
.services-container .services-content .services-card {
  background-color: #8ee4af;
  border-radius: 5px;
  width: 33%;
  padding: 20px 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease;
}

.services-container .services-content .services-card:hover {
  transform: scale(1.05);
  background-color: #66de94;
}

.services-container .services-content .services-card i {
  font-size: 50px;
  color: #05386b;
}

.services-container .services-content .services-card .services-intro {
  font-size: 23px;
  font-weight: 600;
  margin: 10px 0 7px 0;
}

#card-backend {
  margin-right: 100px;
}

@media (max-width: 1100px) {
  .services-container .services-content .services-card {
    width: 40.5%;
  }
}

@media (max-width: 950px) {
  .services-container {
    padding: 70px 0 40px 0;
  }
  .services-container .services-content .services-card {
    width: 45%;
  }
  #card-backend {
    margin-right: 50px;
  }
}

@media (max-width: 880px) {
  .services-container .services-content .services-card .services-intro {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .services-container .services-content .services-card i {
    font-size: 40px;
  }

  .services-container .services-content .services-card .services-intro {
    font-size: 20px;
    font-weight: 600;
  }
  .services-container .services-content {
    width: 100%;
    text-align: center;
  }
  .services-container .services-content .services-box {
    display: inline-block;
  }
  .services-container .services-content .services-card {
    width: 300px;
  }

  .services-container {
    height: auto;
  }
  #card-backend {
    margin-right: 0px;
    margin-bottom: 50px;
    text-align: center;
  }
}

@media (max-width: 475px) {
  .services-container .services-content .services-card {
    width: 20px;
  }

  .services-container .services-title::after {
    width: 140px;
  }

  .services-container .services-content .services-card {
    width: 100%;
  }

  .services-container .services-title {
    font-size: 30px;
  }

  .services-container .services-maxwidth {
    padding: 0px 40px;
  }
}
