.skills-container {
  background-color: #8ee4af;
  font-family: "Poppins", sans-serif;
  padding: 70px 0 50px 0;
  z-index: 0;
  row-gap: 0;
}
.skills-maxwidth {
  max-width: 1300px;
  padding: 0 80px 0 40px;
  margin: auto;
}
.skills-container .skills-intro {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}
.skills-container .skills-intro::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 3px;
  background-color: black;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.skills-container .skills-intro::after {
  content: "My Skills";
  position: absolute;
  color: #05386b;
  padding: 5px;
  font-size: 20px;
  background-color: black;
  background: #8ee4af;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.skills-contentContainer {
  /* padding: 0px 20px; */
}

.skills-contentFrontEnd {
  /* padding-bottom: 40px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
}
.skills-contentBackEnd {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
}
.skills-header {
  display: flex;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
  overflow: hidden;

  padding: 20px 60px 20px 20px;
  background-color: #edf5e1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.skills-icon {
  font-size: 2rem;
  margin-right: 10px;
  color: #05386b;
}

.skills-arrow {
  font-size: 20px;
  margin-left: auto;
  transition: all 0.3s ease;
}

.skills-title {
  font-size: 25px;
}

.skills-subtitle {
  font-size: 15px;
  color: #575756;
}

.skills-dataDetail {
  display: flex;
  justify-content: space-between;
}

.skills-name {
  font-weight: 600;
}
.skills-bar {
  height: 5px;
  background-color: #94bbe3;
  border-radius: 5px;
}
.skills-percentage {
  display: block;
  height: 5px;
  border-radius: 5px;
  background-color: #05386b;
}

.skills-html {
  width: 80%;
}

.skills-css {
  width: 80%;
}

.skills-javascript {
  width: 80%;
}

.skills-react {
  width: 80%;
}

.skills-nodejs {
  width: 80%;
}

.skills-expressjs {
  width: 80%;
}
.skills-firebase {
  width: 80%;
}
.skills-postgresql {
  width: 80%;
}
.skills-mongodb {
  width: 80%;
}

.skills-data {
  padding: 0.8rem 4rem;
}

.skills-listBackEnd {
  display: none;
  padding-bottom: 40px;
}
.skills-backEndActive {
  overflow: hidden;
  background-color: #edf5e1;
  display: block;

  padding-bottom: 40px;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

.skills-listFrontEnd {
  display: none;
  padding-bottom: 40px;
}

.skills-frontEndActive {
  background-color: #edf5e1;
  display: block;
  padding-bottom: 40px;
  animation: fadeIn linear 0.5s;
  -webkit-animation: fadeIn linear 0.5s;
  -moz-animation: fadeIn linear 0.5s;
  -o-animation: fadeIn linear 0.5s;
  -ms-animation: fadeIn linear 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 700px) {
  .skills-header {
    margin-top: 30px;
    padding: 20px;
  }
  .skills-maxwidth {
    max-width: 550px;
    padding: 0 40px 0 40px;
    margin: auto;
  }
}

@media (max-width: 550px) {
  .skills-data {
    padding: 0.8rem 2rem;
  }
}

@media (max-width: 500px) {
  .skills-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #05386b;
  }
  .skills-title {
    font-size: 20px;
  }

  .skills-subtitle {
    font-size: 12px;
    color: #575756;
  }
  .skills-header {
    margin-top: 30px;
    padding: 20px 10px;
  }
}
